<footer class="site-footer">
    <p>CST336 - 2025&copy; Shatswell - Lab6 QuoteAdmin</p>
    <a href="https://csumb.edu/" target="_blank" rel="noopener">
        <img src="img/CSUMBimage.png" alt="CSUMB Logo" class="csumb-logo">
    </a>
</footer>