<%- include('partials/header'); %>

    <h2>Welcome to the Famous Quotes Admin</h2>

    <form action="/author/new">
        <button type="submit">Add Authors</button>
    </form>
    <br>

    <form action="/quote/new">
        <button type="submit">Add Quotes</button>
    </form>
    <br>

    <form action="/authors">
        <button type="submit">List Authors</button>
    </form>
    <br>

    <form action="/quotes">
        <button type="submit">List Quotes</button>
    </form>

<%- include('partials/footer'); %>